<h1>Available Events for <%= @pet.name %></h1>

<h2>Events in <%= @apocalypse.name %></h2>

<% if @events.any? %>
  <ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.name, pet_apocalypse_event_path(@pet, event) %>
      - <%= event.description %>
    </li>
  <% end %>
</ul>
<% else %>
  <p>No events available right now. Try hiding to recover or wait for new challenges!</p>
<% end %>

<%= link_to "Back to Pet Page", pet_path(@pet), class: "btn btn-secondary" %>

