<%= link_to "Create a New Pet", new_pet_path, class: "btn btn-primary mb-4" %>

<% if @pets.any? %>
  <ul class="list-group">
    <% @pets.each do |pet| %>
      <li class="d-flex-align-items-center">
        <% if pet.apocalypse_ready? %>
          <%= image_tag "#{pet.species}.webp", alt: "#{pet.species} post-apocalyptic image", class: "rounded-circle" %>
        <% else %>
          <%= image_tag "#{pet.species.split("_")[0]}_cute.webp", alt: "#{pet.species.split("_")[0]} cute image", class: "rounded-circle" %>
        <% end %>

        <div class="flex-grow-1">
          <strong><%= pet.name %></strong>  
          <br>
          Health: <%= pet.health %>, Happiness: <%= pet.happiness %>, Hunger: <%= pet.hunger_level %>

          <%= link_to "View", pet_path(pet), class: "btn btn-secondary btn-sm" %>
          <%= button_to "Delete", pet_path(pet), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <div class="alert alert-info mt-4">
    You don't have any pets yet! Why not <%= link_to "create one", new_pet_path %>?
  </div>
<% end %>
