<div class="apocalypse-container">
  <h1><%= @pet.name %>: Survivor Mode</h1>
  <%= image_tag "#{@pet.species}.webp", alt: "#{@pet.species}", class: "pet-image" %>
  <p>Hunger: <%= @pet.hunger_level %></p>
  <p>Happiness: <%= @pet.happiness %></p>
  <p>Health: <%= @pet.health %></p>
  <p>Agility: <%= @pet.agility %></p>
  <p>Strength: <%= @pet.strength %></p>
  <p>Intelligence: <%= @pet.intelligence %></p>

  <div class="survival-actions">
    <%= button_to "Scavenge", scavenge_pet_path(@pet), method: :patch, class: "button survival-scavenge" %>
    <%= button_to "Fight", fight_pet_path(@pet), method: :patch, class: "button survival-fight" %>
    <%= button_to "Hide", hide_pet_path(@pet), method: :patch, class: "button survival-hide" %>
  </div>
</div>
